@media (max-width: 959px) {
	.header__bg {
		width: 768px;
		padding: 54px 55px 0;
	}
	.header__logo {
		float: none;
	}
	.header__menu {
		float: none;
		margin-top: 25px;
	}
	.menu_mobile {
		display: none;
	}
	.slider {
		margin-top: 72px;
	}
	.slider__wrapper {
		width: 720px;
	}
	.slider__text_block {
		margin-left: 0;
		padding-top: 20px;
    	padding-left: 20px;
    	width: 270px;
		height: 256px;
		overflow: hidden;
	}
	.slider__title {
		font-size: 48px;
	}
	.slider__subtitle {
		font-size: 24px;
		line-height: 41px;
	}
	.slider__text {
		margin-top: 0;
		line-height: 25px;
	}
	.slider__phone {
		margin-right: 22px;
		margin-top: -103px;
	}
	.slider__left_arrow {
		left: 0;
	}
	.slider__right_arrow {
		right: 0;
	}
	.bottom-slider__wrapper {
		width: 720px;
		padding-top: 38px;
		padding-bottom: 100px;
	}
	.bottom-slider__radio-menu {
		margin-right: 107px;
	}
	.blurbs__wrapper  {
		width: 720px;
		padding-top: 77px;
	}
	.blurbs__part{
		width: 157px;
		padding-left: 72px;
	}
	.blurbs__part:before {
		top: 0px;
    	left: 19px;
	}
	.blurbs__title {
		font-size: 24px;
	}
	.blurbs__text {
		height: 135px;
    	overflow: hidden;
	}
	.blurbs__more {
		padding-top: 10px;
	}
	.part--center {
		margin-left: 28px;
	}
	.part--right {
		margin-right: 0;
	}
	.news__wrapper {
		width: 720px;
	}
	.testimonials_content:after{
		display: none;
	}
	.testimonials_content {
		width: 252px;
	}
	.testimonials__radio-menu {
		width: 315px;
	}
	.testimonials_title {
		display: block;
		font-size: 24px;
	}
	.testimonial_text {
		height: 138px;
		overflow: hidden;
	}
	.blog {
		width: 330px;
		padding-top: 26px;
		margin-right: 0;
	}
	.update__text {
		overflow: hidden;
		height: 23px;
	}
	.logos__img {
		margin-right: 37px;
	}
	.logos__wrapper {
		width: 720px;
	}
	.pre_footer {
		padding-bottom: 116px;
	}
	.pre_footer__wrapper {
		width: 720px;
	}
	.pre_footer__left {
		float: left;
		width: 200px;
		height: 180px;
		overflow: hidden;
	}
	.pre_footer__logo {
		display: none;
	}
	.pre_footer__copyright {
		display: none;
	}
	.pre_footer__center {
		float: left;
		width: 200px;
		margin-left: 59px;
		height: 180px;
		overflow: hidden;
	}
	.pre_footer__right {
		float: left;
		width: 200px;
		margin-left: 59px;
		height: 180px;
		overflow: hidden;
	}
	.footer__wrapper {
		width: 720px;
	}
	.footer__menu {
		margin-left: 20px;
	}
}
@media (max-width: 767px) {
	.header__bg {
		width: 480px;
		padding: 60px 20px 0;
	}
	.header__logo {
		float: none;
		margin-left: 162px;
	}
	.header__menu {
		display: none;
	}
	.menu_mobile {
		display: block;
		margin-top: 27px;
	}
	.slider {
		margin-top: 29px;
		height: 246px;
	}
	.slider__wrapper {
		width: 440px;
		padding: 0 20px 0;
		height: 260px;
	}
	.slider__text_block {
		padding-top: 94px;
    	padding-left: 19px;
    	width: 210px;
		height: 100px;
	}
	.slider__title {
		font-size: 36px;
	}
	.slider__subtitle {
		font-size: 18px;
		line-height: 20px;
	}
	.slider__text {
		display: none;
	}
	.slider__phone {
		margin-right: 13px;
		margin-top: -8px;
		width: 190px;
	}
	.slider__left_arrow {
		line-height: 246px;
	}
	.slider__right_arrow {
		line-height: 246px;
	}
	.bottom-slider__wrapper {
		width: 440px;
		padding: 0 20px 0;
		padding-top: 23px;
		padding-bottom: 52px;
	}
	.bottom-slider__radio-menu {
		margin-right: -31px;
	}
	.blurbs__wrapper  {
		width: 440px;
		padding: 0 20px 0;
		padding-top: 77px;
		padding-bottom: 72px;
	}
	.blurbs__part {
		width: 380px;
		padding-left: 60px;
	}
	.blurbs__part:before {
		top: 0px;
    	left: 10px;
	}
	.blurbs__title {
		font-size: 24px;
	}
	.blurbs__text {
		height: 69px;
    	overflow: hidden;
	}
	.blurbs__more {
		padding-top: 10px;
	}
	.part--left {
		float: none;
	}
	.part--right {
		float: none;
		margin-top: 60px;
	}
	.part--center {
		margin-left: 0;
		float: none;
		margin-top: 55px;
	}
	.news {
		padding-bottom: 91px;
	}
	.news__wrapper {
		width: 440px;
		padding: 0 20px 0;
		padding-top: 70px;
	}
	.testimonials {
		float: none;
	}
	.testimonials_content:after{
		display: none;
	}
	.testimonials_content {
		width: 350px;
	}
	.testimonials__radio-menu {
		width: 400px;
	}
	.testimonials_title {
		display: inline-block;
		font-size: 30px;
	}
	.testimonial_text {
		height: 161px;
		overflow: hidden;
	}
	.blog {
		float: none;
		width: 360px;
		padding-top: 46px;
		margin-left: 63px;
	}
	.update__text {
		overflow: hidden;
		height: 23px;
	}
	.logos {
		padding-bottom: 44px;
	}
	.logos__img {
		display: inline-block;
		margin-top: 15px;
		margin-right: 47px;
	}
	.logos__wrapper {
		width: 400px;
		padding: 0 53px 0;
		padding-top: 20px;	
	}
	.pre_footer {
		padding-bottom: 105px;
	}
	.pre_footer__wrapper {
		width: 440px;
		padding: 0 20px 0;
		padding-top: 161px;
	}
	.pre_footer__title {
		font-size: 24px;
	}
	.pre_footer__left {
		float: none;
		width: 100%;
		height: 113px;
		overflow: hidden;
	}
	.pre_footer__logo {
		display: none;
	}
	.pre_footer__copyright {
		display: none;
	}
	.pre_footer__center {
		float: none;
		width: 100%;
		margin-left: 0;
		height: 113px;
		overflow: hidden;
		margin-top: 72px;
	}
	.pre_footer__right {
		float: none;
		width: 100%;
		margin-left: 0;
		height: 113px;
		overflow: hidden;
		margin-top: 72px;
	}
	.footer__wrapper {
		width: 440px;
		padding: 0 20px 0;
		text-align: center;
		height: 109px;
		padding-top: 25px;
	}
	.footer__menu {
		margin-left: 0;
	}
	.footer__menu__list {
		padding-right: 21px;
		line-height: 59px;
	}
	.design {
		float: none;
		margin-right: 0;
		line-height: 47px;
	}
}
@media (max-width: 479px) {
	.header__bg {
		width: 320px;
		padding: 60px 39px 0;
	}
	.header__logo {
		float: none;
		margin-left: 63px;
	}
	.header__menu {
		display: none;
	}
	.menu_mobile {
		display: block;
		margin-top: 27px;
	}
	.slider {
		background-color: transparent;
		height: 221px;
	}
	.slider__wrapper {
		width: 280px;
		padding: 0 20px 0;
		height: 220px;
	}
	.slider__text_block {
    	padding-left: 44px;
	}
	.slider__title {
		font-size: 36px;
	}
	.slider__subtitle {
		font-size: 18px;
		line-height: 20px;
	}
	.slider__phone {
		display: none;
	}
	.slider__left_arrow {
		line-height: 221px;
	}
	.slider__right_arrow {
		line-height: 221px;
	}
	.bottom-slider__wrapper {
		width: 280px;
		padding: 0 20px 0;
		padding-top: 6px;
		padding-bottom: 69px;
	}
	.bottom-slider__radio-menu {
		margin-right: 92px;
	}
	.blurbs__wrapper  {
		width: 280px;
		padding: 0 20px 0;
		padding-top: 70px;
		padding-bottom: 68px;
	}
	.blurbs__part {
		width: 224px;
		padding-left: 60px;
	}
	.blurbs__part:before {
		top: 0px;
    	left: 10px;
	}
	.blurbs__title {
		font-size: 24px;
	}
	.blurbs__text {
		height: 69px;
    	overflow: hidden;
	}
	.blurbs__more {
		padding-top: 10px;
	}
	.part--left {
		float: none;
	}
	.part--right {
		float: none;
		margin-top: 71px;
	}
	.part--center {
		margin-left: 0;
		float: none;
		margin-top: 55px;
	}
	.news {
		padding-bottom: 80px;
	}
	.news__wrapper {
		width: 280px;
		padding: 0 20px 0;
		padding-top: 70px;
	}
	.testimonials {
		float: none;
	}
	.testimonials_content:after{
		display: none;
	}
	.testimonials_content {
		width: 190px;
	}
	.testimonials__radio-menu {
		width: 280px;
	}
	.testimonials_title {
		display: block;
		font-size: 24px;
	}
	.testimonial_text {
		height: 161px;
		overflow: hidden;
	}
	.blog {
		float: none;
		width: 280px;
		padding-top: 46px;
		margin-left: 0;
	}
	.update__title {
		width: 200px;
		height: 23px;
		overflow: hidden;
	}
	.update__text {
		overflow: hidden;
		width: 200px;
		height: 23px;
	}
	.logos {
		padding-bottom: 44px;
	}
	.logos__img {
		display: inline-block;
		margin-top: 40px;
		margin-right: 23px;
	}
	.logos__wrapper {
		width: 280px;
		padding: 0 20px 0;
		padding-top: 20px;
		padding-bottom: 85px;	
	}
	.pre_footer {
		display: none;
	}
	.footer__wrapper {
		width: 280px;
		padding: 0 20px 0;
		text-align: center;
		height: 133px;
		padding-top: 2px;
	}
	.footer__menu {
		display: none;
	}
	.design {
		float: none;
		line-height: 47px;
	    margin-right: 3px;
	    margin-top: 23px;
	}
}